<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GitHub Layout</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img
          src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          width="30"
          height="30"
          alt=""
        />
      </a>
      <span class="navbar-text">GITHUB</span>
    </nav>
    <div class="container mt-4">
      <div class="row">
        <div class="col-12 mb-4">
          <input
            type="text"
            class="form-control search-bar"
            placeholder="Search"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-4">
          <div class="placeholder large"></div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="placeholder medium"></div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="placeholder medium"></div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="placeholder medium"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="placeholder x-large"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
